#main_friend{
	display:none;
}
#friend_box {
	border: 3px solid black;
	height: 500px;
	width: 700px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	position: absolute;
	left: 600px;
	top: 240px;
	overflow:hidden;
	background:rgba(255,255,255,.8);
}
#choose_tip{
	display:none;
}
#choose_tip img{
	position:absolute;
	top:120px;
	left:1070px;
	width:300px;
	height:150px;
}
#choose_title{
	position:absolute;
	top:185px;
	left:1140px;
}
#icon_choose:hover #choose_tip{
	display:block;
}
#white_plaster_topLeft {
	z-index: 1;
	width:100px;
	height: 25px;
	background: white;
	position: absolute;
	transform:rotate(-45deg);
	top:50px;
	left:170px;
}

#white_plaster_topLeft:before,#white_plaster_topLeft:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 30px;
	background-size: 20px 10px;
}

#white_plaster_topLeft:before {
	top: 0;
	left: 0px;
	background-color: rgba(0,0,0,.1);
	background-position: 100% 65%;
	background-image: linear-gradient(-45deg, white 25%, transparent 25%, transparent),
		linear-gradient(-135deg, white 25%, transparent 25%, transparent),
		linear-gradient(-135deg, transparent 75%, white 75%);
}

#white_plaster_topLeft:after {
	top: 0;
	right: 0px;
	background-color: white;
	background-position: 100% 35%;
	background-image: linear-gradient(-45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent),
		linear-gradient(-135deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent),
		linear-gradient(-45deg, transparent 75%, rgba(0,0,0,.1) 75%),
		linear-gradient(-135deg, transparent 75%, rgba(0,0,0,.1) 75%);
}

#white_plaster_bottomRight {
	z-index: 5;
	width:100px;
	height: 25px;
	background: white;
	position: absolute;
	transform:rotate(135deg);
	position:absolute;
	bottom:60px;
	right:150px;
}

#white_plaster_bottomRight:before,#white_plaster_bottomRight:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 30px;
	background-size: 20px 10px;
}

#white_plaster_bottomRight:before {
	top: 0;
	left: 0px;
	background-color: rgba(0,0,0,.1);
	background-position: 100% 65%;
	background-image: linear-gradient(-45deg, white 25%, transparent 25%, transparent),
		linear-gradient(-135deg, white 25%, transparent 25%, transparent),
		linear-gradient(-135deg, transparent 75%, white 75%);
}

#white_plaster_bottomRight:after {
	top: 0;
	right: 0px;
	background-color: white;
	background-position: 100% 35%;
	background-image: linear-gradient(-45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent),
		linear-gradient(-135deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent),
		linear-gradient(-45deg, transparent 75%, rgba(0,0,0,.1) 75%),
		linear-gradient(-135deg, transparent 75%, rgba(0,0,0,.1) 75%);
}
#empty_corner_bottomLeft{
	z-index:5;
	height:0px;
	width:0px;
	border-color:white transparent;
	border-width:0 50px 50px 0;
	border-style:solid;
	position:absolute;
	bottom:40px;
	left:200px;
}
#empty_corner_topRight{
	z-index:5;
	height:0;
	width:0;
	border-color:transparent white;
	border-width:0 50px 50px 0;
	border-style:solid;
	position:absolute;
	top:45px;
	right:173px;
}
#main_show {
	height:400px;
	width:300px;
	border:3px black solid;
	position:absolute;
	left:205px;
	top:45px;
}
#show_message {
	background:#d2d1d1;
	border-radius:10px;
	height:370px;
	width:270px;
	left:15px;
	top:15px;
	position:absolute;
}
#another_message1{
	filter:blur(3px);
	background: lightgrey;
	border-radius: 10px;
	height: 370px;
	width: 270px;
	position: absolute;
	left:-342px;
	top:15px;
}
#another_message2{
	filter:blur(3px);
	background: lightgrey;
	border-radius: 10px;
	height: 370px;
	width: 270px;
	position: absolute;
	right:-342px;
	top:15px;
}
#white_dashed{
	position:absolute;
	margin:10px;
	border:2px dashed white;
	border-radius:15px;
	height:350px;
	width:250px;
}
#friend_message{
	height:150px;
	width:230px;
	background:white;
	border-radius:5px;
	position:absolute;
	margin-top:30px;
	margin-left:20px;
	box-shadow:0 2px 8px rgba(0,0,0,.5);
	box-shadow:2px 0 8px rgba(0,0,0,.3);
	z-index:5;
}
#head_portrait{
	height:60px;
	width:60px;
	border-radius:50%;
	position:absolute;
	top:15px;
	left:20px;
	background:white;
	box-shadow:0 0 5px rgba(0,0,0,.7);
}
#friend_name{
	font-size:18px;
	position:absolute;
	left:90px;
	top:10px;
}
#friend_school{
	position:absolute;
	left:90px;
	top:40px;
	font-size:14px;
}
#friend_college{
	position:absolute;
	left:90px;
	top:65px;
	font-size:14px;
}
#friend_signature{
	position:absolute;
	left:20px;
	top:105px;
	font-size:14px;
}
#friend_icon_signature {
	background: url(../img/edit.png);
	background-size: 100%;
	height: 40px;
	width: 40px;
	position: absolute;
    top:-10px;
	left:-15px;
}
/* 这个不能让多余的字体省略，有问题，记得解决                                  */
#friend_personal{
	font-size:13px;
	padding-left:25px;
	overflow:hidden;
	width:10px;
	white-space: nowrap;
	text-overflow:clip;
}
#friend_tag{
	width:230px;
	height:150px;
	position:absolute;
	top:190px;
	left:20px;
}
#direction{
	position:absolute;
	bottom:10px;
	left:10px;
}
#prev{
	height:30px;
	width:30px;
}
#next{
	height:30px;
	width:30px;
}
#chat{
	width:50px;
	height:50px;
	position:absolute;
	top:5px;
	left:200px;
	z-index:1;
	cursor:pointer;
}
#more{
	position:absolute;
	height:40px;
	width:40px;
	bottom:20px;
	right:30px;
	cursor:pointer;
}
#show_message:hover #chat{
	transform: translateY(-15px);
}
#another_message1:hover #chat{
	transform: translateY(-15px);
}
#another_message2:hover #chat{
	transform: translateY(-15px);
}
#choose_friend{
	background:white;
	width:450px;
	position:absolute;
	top:10px;
	left:856px;
	border:3px solid rgba(0,0,0,.2);
	border-radius:20px;
	display:none;
}

#icon_choose {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}
#choose_friend:before{
	box-sizing: content-box;
	width: 0px;
	height: 0px;
	position: absolute;
	top:229px;
	right:41px;
	padding:0;
	border-top:8px solid #FFF;
	border-bottom:8px solid transparent;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	display: block;
	content:'';
	z-index: 12;
}
#choose_friend:after{
	box-sizing: content-box;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 231px;
	right:40px;
	padding:0;
	border-top:9px solid #ccc;
	border-bottom:9px solid transparent;
	border-left:9px solid transparent;
	border-right:9px solid transparent;
	display: block;
	content:'';
	z-index:10
}
#choose_sex{
	width:400px;
	height:30px;
}
#choose_sex span{
	padding-left:10px;
	margin-top:3px;
	font-size:17px;
	float:left;
	margin-right:20px;
}
#sex_choose li{
	border:1px solid rgba(0,0,0,.2);
	border-radius:13px;
	padding:3px 13px;
	float:left;
	margin-left:10px;
	cursor:pointer;
}
#sex_choose li:nth-child(1):hover{
	background:lightblue;
}
#sex_choose li:nth-child(2):hover{
	background:pink;
}
#choose_school{
	width:400px;
	height:35px;
	margin-top:10px;
	background:white;
}
#choose_school span{
	padding-left:10px;
	margin-top:5px;
	font-size:17px;
	float:left;
	margin-right:20px;
}
#school_choose{
	padding-left:0;
	margin-left:80px;
	margin-top:0;
	height:35px;
	overflow:hidden;
	position:absolute;
	background:white;
	z-index:100;
}
#school_choose li{
	border:1px solid rgba(0,0,0,.2);
	border-radius:13px;
	padding:3px 13px;
	float:left;
	margin-left:10px;
	cursor:pointer;
	margin-top:5px;
}
#school_choose li:hover{
	background:greenyellow;
}
#more_school{
	position:absolute;
	right:20px;
	bottom:145px;
	cursor:pointer;
	z-index:101;
}
#choose_college{
	width:400px;
	height:35px;
	overflow:hidden;
	margin-top:10px;
}
#choose_college span{
	padding-left:10px;	
	margin-top:7px;	
	font-size:17px;	
	float:left;	
	margin-right:20px;
}
#college_choose{
	width:340px;
	padding-left:0;
	margin-left:80px;
	margin-top:0;
	height:35px;
	overflow:hidden;
	position:absolute;
	background:white;
	z-index:99;
}
#college_choose li{
	border:1px solid rgba(0,0,0,.2);
	border-radius:13px;
	padding:3px 13px;
	float:left;
	margin-left:10px;
	cursor:pointer;
	margin-top:5px;
}
#college_choose li:hover{
	background:#df64c9;
}
#more_college{
	position:absolute;
	right:15px;
	bottom:99px;
	cursor:pointer;
	z-index:100;
}
#choose_other{
	width:400px;
	height:35px;
	overflow:hidden;
	margin-top:10px;
}
#choose_other span{
	padding-left:10px;	
	margin-top:7px;	
	font-size:17px;	
	float:left;	
	margin-right:20px;
}
#other_choose{
	padding-left:0;
	margin-left:80px;
	margin-top:0;
	height:35px;
	width:300px;
	overflow:hidden;
	position:absolute;
	background:white;
	z-index:20;
}
#other_choose li{
	border:1px solid rgba(0,0,0,.2);
	border-radius:13px;
	padding:3px 13px;
	float:left;
	margin-left:10px;
	cursor:pointer;
	margin-top:5px;
}
#other_choose li:hover{
	background:#df9364;
}
#more_other{
	position:absolute;
	right:30px;
	bottom:55px;
	cursor:pointer;
}
#choose_submit{
	cursor:pointer;
	padding:0 5px 5px;
	border-radius:10px;
	margin-left:200px;
	margin-bottom:5px;
	font-size:15px;
	margin-top:15px;
	background:rgba(0,0,0,.3);
}
#chat_about{
	width:800px;
	height:560px;
	border:1px solid black;
	margin:0 auto;
	display:none;
	z-index:999;
	background:lightgrey;
	position:absolute;
	top:90px;
	left:350px;
	border-radius:15px;
}
#friend_name_show img{
	position:absolute;
	top:-98px;
	left:150px;
	width:400px;
	height:250px;
}
#show_name{
	color:black;
	font-size:30px;
	font-weight:500;
	position:absolute;
	left:310px;
	top:0;
}
#chat_warning{
	position:absolute;
	top:0px;
	left:90px;
	font-size:17px;
	height:40px;
	background:#f8cda1;
	border-radius:3px;
	padding-top:10px;
	padding-left:10px;
	display:none;
}
#new_white_dashed{
	border: 2px dashed white;
	margin: 15px;
	border-radius: 8px;
}
#talk_contact{
	width:740px;
	height:360px;
	margin-top:10px;
	margin-left:14px;
	background:white;
	border-radius:10px;
	overflow:scroll;
	overflow-x:hidden;
}
#icon{
	position:absolute;
	top:0px;
	right:20px;
}
#icon_time img{
	height:30px;
	width:30px;
	cursor:pointer;
	position:absolute;
	right:80px;
	top:30px;
}
#icon_close img{
	height:30px;
	width:30px;
	cursor:pointer;
	position:absolute;
	top:30px;
	right:40px;
}
#friend{
	padding-top:50px;
}
#friend img{
	position:relative;
	border-radius:50%;
	border:2px solid rgba(0,0,0,.3);
	height:40px;
	width:40px;
	float:left;
	margin:15px 10px 0 10px;
	top:0;
}
#friend p{
	max-width:300px;
	display:block;
	border-radius:5px;
	line-height:20px;
	font-size:15px;
	padding:5px;
	margin-left:5px;
	word-wrap:break-word;
	background:#dfce64;
	float:left;
}
#txt{
	display:block;
	width:720px;
	height:105px;
	margin:0 auto;
	margin-top:23px;
	border-radius:10px;
	margin-bottom:10px;
	border:2px solid rgba(0,0,0,.3);
	padding:10px;
	font-size:17px;
}
#sendMsg{
	background:lightblue;
	padding:5px;
	position:absolute;
	border-radius:20px;
	width:50px;
	height:30px;
	bottom:30px;
	right:45px;
}
#time_chat{
	font-size:50px;
	font-weight:500;
	color:#2436a4;
	position:absolute;
	top:180px;
	left:350px;
}
#friend_dynamic1{
	width:350px;
	height:350px;
	overflow:scroll;
	overflow-x:hidden;
	background:grey;
	position:absolute;
	z-index:990;
	border:1px solid lightgrey;
	border-radius:5px;
}
#cover_scroll{
	position:relative;
	margin-top:-40px;
	margin-left:-40px;
	overflow:hidden;
	width:330px;
	height:350px;
	display:none;
}
#show_friend_dynamic{
	z-index:999;
	margin-top:20px;
	width:330px;
	float:left;
}
#show_dynamic_line{
	width:55%;
	border:2px dashed white;
	margin-left:30px;
	float:left;
}
#show_dynamic_text{
	overflow:scroll;
	height:50px;
	width:330px;
	word-wrap: break-word;
	margin-top:10px;
	font-size:15px;
	color:white;
	overflow-x:hidden;
	padding-left:20px;
	padding-right:17px;
}
#show_time{
	float:right;
	color:white;
	font-weight:500;
}
#friend_dynamic2{
	width:350px;
	height:350px;
	overflow:scroll;
	overflow-x:hidden;
	background:grey;
	position:absolute;
	z-index:990;
	border:1px solid lightgrey;
	border-radius:5px;
}
#friend_dynamic3{
	width:350px;
	height:350px;
	overflow:scroll;
	overflow-x:hidden;
	background:grey;
	position:absolute;
	z-index:990;
	border:1px solid lightgrey;
	border-radius:5px;
}