#Flowpath{
	width: 600px; height: 250px;
	margin:0 auto;
}
.path_word{
	position: absolute;
	margin: 12px 0 0 50px;
	color: white;
}
.path{	
	display: inline;
	width: 200px; height: 49px;
	padding:0;
}
.white_triangle1,.white_triangle2,.white_triangle3{
	position: absolute;
	float: left;
	z-index:6;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: #ffffff;
}
.white_triangle1{
	margin: 129px 0 0 0px;
}
.white_triangle2{
	margin: 129px 0 0 200px;
}
.white_triangle3{
	margin: 129px 0 0 400px;
}
#square{
	float: left;
	width: 150px;
	height:49px;
	margin: 130px 0 0 0;
	background-color: #252525;
}
#black_triangle{
	float: left;
	margin: 130px 0 0 0;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: #252525;
}
#ActionBox {
	margin:0 auto;
    order: 1px solid #696; width: 650px; height: 325px;

	-webkit-border-radius: 5px;

	-moz-border-radius: 5px;

	border-radius: 5px;

	-webkit-box-shadow: #666 0px 0px 10px;

	-moz-box-shadow: #666 0px 0px 10px;

	box-shadow: #666 0px 0px 10px;background: #ffffff;behavior: url(/PIE.htc);
}