#main_friend{
	display:none;
}
#friend_box {
	border: 3px solid black;
	height: 500px;
	width: 700px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	position: absolute;
	left: 600px;
	top: 240px;
	overflow:hidden;
	background:rgba(255,255,255,.8);
}
#white_plaster_topLeft {
	z-index: 1;
	width:100px;
	height: 25px;
	background: white;
	position: absolute;
	transform:rotate(-45deg);
	top:50px;
	left:170px;
	box-shadow:0 0 5px rgba(0,0,0,.2);
}

#white_plaster_topLeft:before,#white_plaster_topLeft:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 25px;
	background-size: 20px 10px;
}

#white_plaster_topLeft:before {
	top: 0;
	left: 0px;
	background-color: rgba(0,0,0,.1);
	background-position: 100% 65%;
	background-image: linear-gradient(-45deg, white 25%, transparent 25%, transparent),
		linear-gradient(-135deg, white 25%, transparent 25%, transparent),
		linear-gradient(-135deg, transparent 75%, white 75%);
}

#white_plaster_topLeft:after {
	top: 0;
	right: 0px;
	background-color: white;
	background-position: 100% 35%;
	background-image: linear-gradient(-45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent),
		linear-gradient(-135deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent),
		linear-gradient(-45deg, transparent 75%, rgba(0,0,0,.1) 75%),
		linear-gradient(-135deg, transparent 75%, rgba(0,0,0,.1) 75%);
}

#white_plaster_bottomRight {
	z-index: 5;
	width:100px;
	height: 25px;
	background: white;
	position: absolute;
	transform:rotate(135deg);
	position:absolute;
	bottom:60px;
	right:150px;
	box-shadow:0 0 5px rgba(0,0,0,.3);
}

#white_plaster_bottomRight:before,#white_plaster_bottomRight:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 25px;
	background-size: 20px 10px;
}

#white_plaster_bottomRight:before {
	top: 0;
	left: 0px;
	background-color: rgba(0,0,0,.1);
	background-position: 100% 65%;
	background-image: linear-gradient(-45deg, white 25%, transparent 25%, transparent),
		linear-gradient(-135deg, white 25%, transparent 25%, transparent),
		linear-gradient(-135deg, transparent 75%, white 75%);
}

#white_plaster_bottomRight:after {
	top: 0;
	right: 0px;
	background-color: white;
	background-position: 100% 35%;
	background-image: linear-gradient(-45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent),
		linear-gradient(-135deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent),
		linear-gradient(-45deg, transparent 75%, rgba(0,0,0,.1) 75%),
		linear-gradient(-135deg, transparent 75%, rgba(0,0,0,.1) 75%);
}
#empty_corner_bottomLeft{
	z-index:5;
	height:0px;
	width:0px;
	border-color:white transparent;
	border-width:0 50px 50px 0;
	border-style:solid;
	position:absolute;
	bottom:40px;
	left:200px;
}
#empty_corner_topRight{
	z-index:5;
	height:0;
	width:0;
	border-color:transparent white;
	border-width:0 50px 50px 0;
	border-style:solid;
	position:absolute;
	top:45px;
	right:173px;
}
#main_show {
	height:400px;
	width:300px;
	border:3px black solid;
	position:absolute;
	left:205px;
	top:45px;
}
#another_message0 {
	background:#d2d1d1;
	border-radius:10px;
	height:370px;
	width:270px;
	left:15px;
	top:15px;
	position:absolute;
}
#another_message1{
	filter:blur(3px);
	background: lightgrey;
	border-radius: 10px;
	height: 370px;
	width: 270px;
	position: absolute;
	left:-342px;
	top:15px;
}
#another_message2{
	filter:blur(3px);
	background: lightgrey;
	border-radius: 10px;
	height: 370px;
	width: 270px;
	position: absolute;
	right:-342px;
	top:15px;
}
#white_dashed{
	position:absolute;
	margin:10px;
	border:2px dashed white;
	border-radius:15px;
	height:350px;
	width:250px;
}
#friend_message{
	height:150px;
	width:230px;
	background:white;
	border-radius:5px;
	position:absolute;
	margin-top:30px;
	margin-left:20px;
	box-shadow:0 2px 8px rgba(0,0,0,.5);
	box-shadow:2px 0 8px rgba(0,0,0,.3);
	z-index:5;
}
#head_portrait{
	height:60px;
	width:60px;
	border-radius:50%;
	position:absolute;
	top:15px;
	left:20px;
	background:white;
	box-shadow:0 0 5px rgba(0,0,0,.7);
}
#friend_name{
	font-size:18px;
	position:absolute;
	left:90px;
	top:10px;
}
#friend_school{
	position:absolute;
	left:90px;
	top:40px;
	font-size:14px;
}
#friend_college{
	position:absolute;
	left:90px;
	top:65px;
	font-size:14px;
}
#friend_signature{
	position:relative;
	left:20px;
	top:105px;
	font-size:14px;
}
#friend_icon_signature {
	background: url(../img/edit.png);
	background-size: 100%;
	height: 40px;
	width: 40px;
	position: absolute;
    top:-10px;
	left:-15px;
}
#friend_personal{
	display:block;
	position:absolute;
	font-size:13px;
	padding-left:25px;
	overflow:hidden;
	width:170px;
	text-overflow: clip;
}
#friend_tag{
	width:230px;
	height:150px;
	position:absolute;
	top:190px;
	left:20px;
}
#direction{
	position:absolute;
	bottom:10px;
	left:10px;
}
#prev{
	height:30px;
	width:30px;
	cursor:pointer;
}
#next{
	height:30px;
	width:30px;
	cursor:pointer;
}
#chat{
	width:50px;
	height:50px;
	position:absolute;
	top:5px;
	left:200px;
	z-index:1;
	cursor:pointer;
}
#more{
	position:absolute;
	height:40px;
	width:40px;
	bottom:20px;
	right:30px;
	cursor:pointer;
}
#another_message0:hover #chat{
	transform: translateY(-15px);
}
#another_message1:hover #chat{
	transform: translateY(-15px);
}
#another_message2:hover #chat{
	transform: translateY(-15px);
}
#choose_friend{
	background:white;
	width:450px;
	position:absolute;
<<<<<<< HEAD
	left:735px;
=======
	top:10px;
	left:856px;
>>>>>>> 1b94c59f814da3000f5903b32cdc256e1d8604f9
	border:3px solid rgba(0,0,0,.2);
	border-radius:20px;
	display:none;
}

#icon_choose {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 90px;
	top: 0px;
	cursor: pointer;
}
#icon_list {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 30px;
	top: 0px;
	cursor: pointer;
}

#choose_friend:before{
	box-sizing: content-box;
	width: 0px;
	height: 0px;
	position: absolute;
	top:229px;
	right:41px;
	padding:0;
	border-top:8px solid #FFF;
	border-bottom:8px solid transparent;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	display: block;
	content:'';
	z-index: 12;
}
#choose_friend:after{
	box-sizing: content-box;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 231px;
	right:40px;
	padding:0;
	border-top:9px solid #ccc;
	border-bottom:9px solid transparent;
	border-left:9px solid transparent;
	border-right:9px solid transparent;
	display: block;
	content:'';
	z-index:10
}
#choose_sex{
	width:400px;
	height:30px;
}
#choose_sex span{
	padding-left:10px;
	margin-top:3px;
	font-size:17px;
	float:left;
	margin-right:20px;
}
#sex_choose li{
	border:1px solid rgba(0,0,0,.2);
	border-radius:13px;
	padding:3px 13px;
	float:left;
	margin-left:10px;
	cursor:pointer;
}
#sex_choose li:nth-child(1):hover{
	background:lightblue;
}
#sex_choose li:nth-child(2):hover{
	background:pink;
}
#choose_school{
	width:400px;
	height:35px;
	margin-top:10px;
	background:white;
}
#choose_school span{
	padding-left:10px;
	margin-top:5px;
	font-size:17px;
	float:left;
	margin-right:20px;
}
#school_choose{
	padding-left:0;
	margin-left:80px;
	margin-top:0;
	height:35px;
	overflow:hidden;
	position:absolute;
	background:white;
	z-index:100;
}
#school_choose li{
	border:1px solid rgba(0,0,0,.2);
	border-radius:13px;
	padding:3px 13px;
	float:left;
	margin-left:10px;
	cursor:pointer;
	margin-top:5px;
}
#school_choose li:hover{
	background:greenyellow;
}
#more_school{
	position:absolute;
	right:20px;
	bottom:145px;
	cursor:pointer;
	z-index:101;
}
#choose_college{
	width:400px;
	height:35px;
	overflow:hidden;
	margin-top:10px;
}
#choose_college span{
	padding-left:10px;	
	margin-top:7px;	
	font-size:17px;	
	float:left;	
	margin-right:20px;
}
#college_choose{
	width:340px;
	padding-left:0;
	margin-left:80px;
	margin-top:0;
	height:35px;
	overflow:hidden;
	position:absolute;
	background:white;
	z-index:99;
}
#college_choose li{
	border:1px solid rgba(0,0,0,.2);
	border-radius:13px;
	padding:3px 13px;
	float:left;
	margin-left:10px;
	cursor:pointer;
	margin-top:5px;
}
#college_choose li:hover{
	background:#df64c9;
}
#more_college{
	position:absolute;
	right:5px;
	bottom:99px;
	cursor:pointer;
	z-index:100;
}
#choose_other{
	width:400px;
	height:35px;
	overflow:hidden;
	margin-top:10px;
}
#choose_other span{
	padding-left:10px;	
	margin-top:7px;	
	font-size:17px;	
	float:left;	
	margin-right:20px;
}
#other_choose{
	padding-left:0;
	margin-left:80px;
	margin-top:0;
	height:35px;
	width:300px;
	overflow:hidden;
	position:absolute;
	background:white;
	z-index:20;
}
#other_choose li{
	border:1px solid rgba(0,0,0,.2);
	border-radius:13px;
	padding:3px 13px;
	float:left;
	margin-left:10px;
	cursor:pointer;
	margin-top:5px;
}
#other_choose li:hover{
	background:#ead3ac;
}
#more_other{
	position:absolute;
	right:30px;
	bottom:55px;
	cursor:pointer;
}
#choose_submit{
	cursor:pointer;
	padding:0 5px 5px;
	border-radius:10px;
	margin-left:200px;
	margin-bottom:5px;
	font-size:15px;
	margin-top:15px;
	background:rgba(0,0,0,.3);
}
<<<<<<< HEAD
#friend_list{
	height:400px;
	width:80px;
	border:3px solid rgba(0,0,0,.3);
	position:absolute;
	top:270px;
	left:1150px;
	background:white;
	z-index:1000;
	border-radius:15px;
	display:none;
}
#friend_list:before{
	box-sizing: content-box;
	width: 0px;
	height: 0px;
	position: absolute;
	top:-16px;
	right:30px;
	padding:0;
	border-bottom:9px solid #fff;
	border-top:9px solid transparent;
	border-left:9px solid transparent;
	border-right:9px solid transparent;
	display: block;
	content:'';
	z-index: 12;
}
#friend_list:after{
	box-sizing: content-box;
	width: 0px;
	height: 0px;
	position: absolute;
	top: -20px;
	right:29px;
	padding:0;
	border-bottom:11px solid #ccc;
	border-top:11px solid transparent;
	border-left:11px solid transparent;
	border-right:11px solid transparent;
	display: block;
	content:'';
	z-index:10
}
#list_show{
	margin-top:15px;
	height:80px;
	width:80px;
	text-align:center;
	cursor:pointer;
}
#list_photo{
	width:50px;
	height:50px;
	border-radius:50%;
	border:2px solid rgba(0,0,0,.3);
}
#list_name{
	width:70px;
	font-size:14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
=======
#chat_about1{
	width:800px;
	height:560px;
	border:1px solid black;
	margin:0 auto;
	display:none;
	z-index:999;
	background:lightgrey;
	position:absolute;
	top:90px;
	left:350px;
	border-radius:15px;
>>>>>>> 1b94c59f814da3000f5903b32cdc256e1d8604f9
}
#chat_about{
	width:800px;
	height:560px;
	border:1px solid black;
	margin:0 auto;
	display:none;
	z-index:999;
	background:lightgrey;
	position:absolute;
	top:90px;
	left:350px;
	border-radius:15px;
}
#name_show{
	position:absolute;
	top:-78px;
	left:0;
	width:600px;
	height:200px;
}
#friend_name_show{
	width:400px;
	position:absolute;
	margin-left:100px;
	text-align:center;
}
#show_name{
	position:relative;
	color:black;
	font-size:35px;
	font-weight:500;
}
#chat_warning{
	position:absolute;
	top:0px;
	left:90px;
	font-size:17px;
	height:40px;
	background:#f8cda1;
	border-radius:3px;
	padding-top:10px;
	padding-left:10px;
	display:none;
}
#new_white_dashed{
	border: 2px dashed white;
	margin: 15px;
	border-radius: 8px;
}
#talk_contact{
	width:740px;
	height:360px;
	margin-top:10px;
	margin-left:14px;
	background:white;
	border-radius:10px;
	overflow:scroll;
	overflow-x:hidden;
}
#icon{
	position:absolute;
	top:25px;
	right:38px;
}
#icon_close{
	float:right;
	width:40px;
}
#icon_change{
	float:right;
	width:40px;
}
<<<<<<< HEAD
#icon_time{
	float:right;
	width:40px;
}
#icon_report{
	float:right;
	width:40px;
}
#icon_friend{
	float:right;
	width:40px;
}
#icon_friend i{
	display:block;
	width:100px;
	font-size:13px;
	visibility: hidden;
	font-family:normal;
}
#icon_friend:hover i{
	visibility: visible;
}
#icon_close i{
	display:block;
	width:100px;
	font-size:13px;
	visibility: hidden;
	font-family:normal;
}
#icon_close:hover i{
	visibility: visible;
}
#icon_time i{
	display:block;
	width:100px;
	font-size:13px;
	visibility: hidden;
	font-family:normal;
}
#icon_time:hover i{
	visibility: visible;
}
#icon_change i{
	display:block;
	width:100px;
	font-size:13px;
	visibility: hidden;
	font-family:normal;
}
#icon_change:hover i{
	visibility: visible;
}

#icon_report i{
	display:block;
	width:100px;
	font-size:13px;
	visibility: hidden;
	font-family:normal;
}
#icon_report:hover i{
	visibility: visible;
}
=======
>>>>>>> master
#icon_time img{
	height:30px;
	width:30px;
	cursor:pointer;
}
#icon_close img{
<<<<<<< HEAD
	height:30px;
	width:30px;
	cursor:pointer;
}
#icon_change img{
=======
>>>>>>> master
	height:30px;
	width:30px;
	cursor:pointer;
}
<<<<<<< HEAD
#icon_report img{
	height:30px;
	width:30px;
	cursor:pointer;
}
#icon_friend img{
	height:30px;
	width:30px;
	cursor:pointer;
}
#report_choose{
	border:1px solid black;
	background:lightgrey;
	width:300px;
	border-radius:10px;
	top:50px;
	right:200px;
	position:absolute;
	z-index:999;
	display:none;
}
#report_introduce{
	width:249px;
	height:30px;
	padding:10px;
	border-radius:3px;
	cursor:pointer;
}
#report_introduce input{
	width:15px;
	height:15px;
	border-radius:3px;
}
#report_introduce:hover{
	background:rgba(0,0,0,.3);
}
#report_title{
	margin-left:50px;
	line-height:30px;
	font-size:18px;
}
#report_button{
	margin:20px 0 15px 60px;
}
#report_submit{
	line-height:20px;
	border-radius:5px;
	cursor:pointer;
}
#report_submit:hover{
	background:lightblue;
}
#report_cancel:hover{
	background:lightblue;
}
#report_cancel{
	line-height:20px;
	border-radius:5px;
	cursor:pointer;
	margin-left:35px;
}
=======
>>>>>>> master
#friend{
	padding-top:50px;
}
#friend img{
	position:relative;
	border-radius:50%;
	border:2px solid rgba(0,0,0,.3);
	height:40px;
	width:40px;
	float:left;
	margin:15px 10px 0 10px;
	top:0;
}
#friend p{
	max-width:300px;
	display:block;
	border-radius:5px;
	line-height:20px;
	font-size:15px;
	padding:5px;
	margin-left:5px;
	word-wrap:break-word;
	background:#dfce64;
	float:left;
}
#txt{
	display:block;
	width:720px;
	height:105px;
	margin:0 auto;
	margin-top:23px;
	border-radius:10px;
	margin-bottom:10px;
	border:2px solid rgba(0,0,0,.3);
	padding:10px;
	font-size:17px;
}
#sendMsg{
	background:lightblue;
	padding:5px;
	position:absolute;
	border-radius:20px;
	width:50px;
	height:30px;
	bottom:30px;
	right:45px;
}
#time_chat{
	font-size:50px;
	font-weight:500;
	color:#2436a4;
	position:absolute;
	top:180px;
	left:350px;
}
#add_friend{
	border-radius:10px;
	border:1px solid black;
	position:absolute;
	width:250px;
	top:150px;
	left:300px;
	text-align:center;
	background:white;
	display:none;
}
#add_title{
	padding:20px;
}
#add_button{
	margin:0 0 20px 0;
}
#add_cancel{
	border-radius:15px;
	padding:5px 12px;
	background:rgba(0,0,0,.7);
	color:white;
}
#add_cancel:hover{
	background:lightblue
}
#add_submit{
	color:white;
	border-radius:15px;
	padding:5px 12px;
	margin-left:25px;
	background:rgba(0,0,0,.7);
}
#add_submit:hover{
	background:lightblue
}
#friend_dynamic{
	width:350px;
	height:350px;
	overflow:scroll;
	overflow-x:hidden;
	background:grey;
	position:absolute;
	z-index:990;
	border:1px solid lightgrey;
	border-radius:5px;
}
#cover_scroll1{
	position:relative;
	margin-top:-40px;
	margin-left:-40px;
	overflow:hidden;
	width:330px;
	height:350px;
	display:none;
}
#cover_scroll2{
	position:relative;
	margin-top:-40px;
	margin-left:-40px;
	overflow:hidden;
	width:330px;
	height:350px;
	display:none;
}
#cover_scroll3{
	position:relative;
	margin-top:-40px;
	margin-left:-40px;
	overflow:hidden;
	width:330px;
	height:350px;
	display:none;
}
#show_friend_dynamic{
	z-index:999;
	margin-top:20px;
	width:330px;
	float:left;
}
#show_dynamic_line{
	width:55%;
	border:2px dashed white;
	margin-left:30px;
	float:left;
}
#show_dynamic_text{
	overflow:scroll;
	height:50px;
	width:330px;
	word-wrap: break-word;
	margin-top:10px;
	font-size:15px;
	color:white;
	overflow-x:hidden;
	padding-left:20px;
	padding-right:17px;
}
#show_time{
	float:right;
	color:white;
	font-weight:500;
}
#talk_page_contact{
	width:700px;
	height:360px;
	margin-top:10px;
	margin-left:14px;
	background:white;
	border-radius:10px;
	overflow:scroll;
	overflow-x:hidden;
}
#chat_page{
	position:absolute;
	background:grey;
	top:150px;
	left:300px;
	z-index:1000;
	border-radius:30px;
	display:none;
}
#page_txt{
	display:block;
	width:700px;
	height:105px;
	margin:0 auto;
	margin-top:23px;
	border-radius:10px;
	margin-bottom:10px;
	border:2px solid rgba(0,0,0,.3);
	padding:10px;
	font-size:17px;
}
#icon_page_close{
	float:right;
	width:40px;
}

#icon_page_report{
	float:right;
	width:40px;
}
#icon_page_close img{
	height:30px;
	width:30px;
	cursor:pointer;
}
#icon_page_report img{
	height:30px;
	width:30px;
	cursor:pointer;
}
#icon_page_close i{
	display:block;
	width:100px;
	font-size:13px;
	visibility: hidden;
	font-family:normal;
}
#icon_page_close:hover i{
	visibility: visible;
}
#icon_page_report i{
	display:block;
	width:100px;
	font-size:13px;
	visibility: hidden;
	font-family:normal;
}
#icon_page_report:hover i{
	visibility: visible;
}
#page_sendMsg{
	background:lightblue;
	padding:5px;
	position:absolute;
	border-radius:20px;
	width:50px;
	height:30px;
	top:500px;
	right:45px;
}
#email_main{
	position:absolute;
	top:0;
	left:1250px;
	cursor:pointer;
}
#email_main img{
	width:40px;
	height:40px;
}
#email_tip{
	position:absolute;
	width:160px;
	display:none;
<<<<<<< HEAD
	z-index:50;
}
#email_main:hover #email_tip{
	display:block;
}
#manager_main{
	position:absolute;
	top:0;
	left:1350px;
}
#manager_main img{
	width:40px;
	height:40px;
}
#manager_tip{
	position:absolute;
	width:150px;
	display:none;
}
#manager_main:hover #manager_tip{
	display:block;
}
#back_main{
	position:absolute;
	top:0;
	left:1300px;
}
#back_main img{
	width:40px;
	height:40px;
}
#back_tip{
	position:absolute;
	width:150px;
	display:none;
}
#back_main:hover #back_tip{
	display:block;
=======
>>>>>>> 1b94c59f814da3000f5903b32cdc256e1d8604f9
}