*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x:hidden;
}
.para1 {
	color: red;
	font-size: 12px;
	letter-spacing: 5px;
	position: absolute;
}

#main {
	width:490px;
	height:590px;
	position:absolute;
	left:725px;
	top:70px;
}
#background{
	background: url(../img/matching_background.jpg) center center no-repeat;
	background-size: 100% 100%;
	height: 720px;
	width: 1550px;
	position:absolute;
	z-index:-10;
}

#Sign_in {
	width: 500px;
}
#register {
	height: 597px;
	width: 540px;
	display: none;
}
#title {
	position:absolute;
	margin-left:180px;
	margin-top:50px;
	z-index: 2;
}
#title_left {
	position: relative;
	font-family: "microsoft yahei light";
	font-style: normal;
	font-size: 35px;
	letter-spacing: 15px;
	font-weight: 500;
	cursor: pointer;
	text-shadow: #000 3px 3px 3px;
}
#change_title_left{
	font-family: "microsoft yahei light";
	position: relative;
	font-style: normal;
	font-size: 35px;
	letter-spacing: 15px;
	font-weight: 500;
	cursor: pointer;
}
#line{
	font-size:35px;
	font-style: normal;
}
#title_right {
	position: relative;
	left: 20px;
	font-family:"microsoft yahei light";
	font-style: normal;
	font-size: 35px;
	letter-spacing: 15px;
	font-weight: 500;
	cursor: pointer;
}
#change_title_right{
	font-family:"microsoft yahei light";
	position: relative;
	left: 20px;
	font-style: normal;
	font-size: 35px;
	letter-spacing: 15px;
	font-weight: 500;
	text-shadow: #000 3px 3px 3px;
	cursor: pointer;
}
#icon_people{
	background:url(../img/people_1.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:relative;
	z-index:3;
	border-radius:50%;
	left:144px;
	top:148px;
	display:block;
}
#icon_people_2{
	background:url(../img/people_2.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:relative;
	z-index:3;
	border-radius:50%;
	left:144px;
	top:148px;
	display:block;
}
#icon_password{
	background:url(../img/secret_1.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:relative;
	z-index:3;
	border-radius:50%;
	left:144px;
	top:73px;
	display:block;
}
#icon_password_2{
	background:url(../img/secret_2.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:relative;
	z-index:3;
	border-radius:50%;
	left:144px;
	top:73px;
	display:block;
}
#text {
	width: 250px;
	height: 40px;
	margin-left: 150px;
	box-shadow: 1px 5px 3px rgba(0, 0, 0, .2);
	border: 0;
	border-radius:22px;
	font-size: 15px;
	font-weight: 500;
	padding-left: 55px;
	margin-top: 100px;
}
#password {
	width: 250px;
	height: 40px;
	margin-left: 150px;
	box-shadow: 1px 5px 3px rgba(0, 0, 0, .2);
	border: 0;
	border-radius:22px;
	font-size: 15px;
	font-weight: 500;
	padding-left: 55px;
	margin-top: 25px;
}

#check_img {
	width: 300px;
	height: 205px;
	position: absolute;
	left: 152px;
	top: 194px;
	z-index: 5;
	display: none;
}

#bg_bar {
	position:absolute;
	top:400px;
	left:150px;
	width: 300px;
	height: 40px;
	border-radius: 38px;
	background-color: grey;
	opacity: 0.5;
}

#touch_bar {
	position: relative;
	top: -42px;
	border: 2px solid blue;
	width: 25%;
	height: 40px;
	border-radius: 38px;
	background-color: white;
	display: flex;
	flex: row;
	justify-content: center;
	align-items: center;
	z-index: 20;
}

#bg_new {
	position: relative;
	top: -84px;
	height: 40px;
	border-radius: 18px;
	background-color: blue;
	z-index: 15;
}

#bg_old {
    height: 40px;
    z-index: 10;
    display: flex;
    flex: row;
    justify-content: center;
}
#forget{
	bottom:80px;
	left:250px;
	color:black;
	position:absolute;
}
#forget:hover{
	color:red;
	text-decoration:none;
}
#select{
	width:300px;
	height:40px;
	margin-left: 150px;
	box-shadow: 1px 5px 3px rgba(0, 0, 0, .2);
	border: 0;
	border-radius:22px;
	font-size: 15px;
	padding-left: 55px;
	margin-top: 125px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}

#register_text {
	width: 250px;
	height: 40px;
	margin-left: 150px;
	box-shadow: 1px 5px 3px rgba(0, 0, 0, .2);
	border: 0;
	border-radius:22px;
	font-size: 15px;
	font-weight: 500;
	padding-left: 55px;
	margin-top: 25px;
}
#text_password{
	width:250px;
	height:40px;
	margin-left:150px;
	box-shadow:1px 5px 3px rgba(0,0,0,.2);
	border:0;
	border-radius:22px;
	font-size:15px;
	font-weight:500;
	padding-left:55px;
	margin-top:25px;
}
#register_password{
	width:250px;
	height:40px;
	margin-left:150px;
	box-shadow:1px 5px 3px rgba(0,0,0,.2);
	border:0;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
	font-size:15px;
	font-weight:500;
	padding-left:55px;
	margin-top:25px;
}
#confirm{
	width:250px;
	height:40px;
	margin-left:150px;
	box-shadow:1px 5px 3px rgba(0,0,0,.2);
	border:0;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
	font-size:15px;
	font-weight:500;
	padding-left:55px;
	margin-top:25px;
}
#icon_school{
	background:url(../img/icon_school.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:118px;
}
#icon_rpeople{
	background:url(../img/people_1.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:184px;
}
#icon_rpeople_2{
	background:url(../img/people_2.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:184px;
}
#icon_secret{
	background:url(../img/secret_1.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:247px;
}
#icon_secret_2{
	background:url(../img/secret_2.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:247px;
}
#icon_password_secret{
	background:url(../img/secret_1.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:313px;
}
#icon_password_secret_2{
	background:url(../img/secret_2.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:313px;
}
#icon_password_confirm{
	background:url(../img/secret_1.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:378px;
}
#icon_password_confirm_2{
	background:url(../img/secret_2.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	left:145px;
	top:378px;
}
#submit{
	color:white;
	width:200px;
	padding:10px;
	height:50px;
	background:rgba(0,0,0,.5);
	border:0;
	border-radius:25px;
	font-size:20px;
	cursor:pointer;
	z-index: 10;
	display: flex;
	flex: row;
	justify-content: center;
	margin-top:30px;
	margin-left:200px;
}

#small_img {
	z-index: 7;
	position: absolute;
}

#big_img {
	z-index: 6;
	position: absolute;
}

#enterMsg {
	width: 120px;
	height: 30px;
	margin-left: 200px;
	position: absolute;
	color:red;
	font-size:16px;
}

#registerMsg {
	width: 120px;
	height: 30px;
	margin-left: 200px;
	position: absolute;
	color:red;
	font-size:16px;
}

#accountMsg {
	width: 120px;
	height: 30px;
	margin-left: 200px;
	position: absolute;
	color:red;
	font-size:16px;
}
#manager{
	position:absolute;
	color:black;
	text-decoration:none;
	bottom:0;
	right:10px;
}
#manager:hover{
	color:grey;
}
#loading {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(255,255,255,.9);
	z-index:1000;
}
#loading img{
	position:absolute;
	width:100px;
	height:100px;
	margin-left:700px;
	margin-top:200px;
}
#loading p{
	font-size:30px;
	position:absolute;
	top:300px;
	left:630px;
	letter-spacing:17px;
}
.beat-char {
	line-height: 3.4em;
	position: relative;
	display: inline-block;
	background: transparent;

}
.rotate {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transition-duration: 0.7s;
}