#find_password{
	background-image:url(../img/find_password.jpg);
	height:710px;
	width:1540px;
	background-size:100%;
	position:absolute;
	z-index:-10;
	top:0;
	overflow-x: hidden;
}
#Flowpath{ 
	height: 60px;
	top:150px;
	position:absolute;
}
#path1{
	width:220px;
	height:49px;
	position:absolute;
	background:rgba(0,0,0,.7);
	cursor:pointer;
	left:300px;
}
#path2{
	width:220px;
	height:49px;
	position:absolute;
	background:rgba(0,0,0,.7);
	cursor:pointer;
	left:600px;
}
#path3{
	width:220px;
	height:49px;
	position:absolute;
	background:rgba(0,0,0,.7);
	cursor:pointer;
	left:900px;
}
#path4{
	width:220px;
	height:49px;
	position:absolute;
	background:rgba(0,0,0,.7);
	cursor:pointer;
	left:1200px;
}
#white_triangle1{
	width: 0;
	height: 0;
	border-width: 24px;
	border-style: solid;
	border-color: transparent transparent transparent rgba(255,255,255,.9);
	position:absolute;
}
#white_triangle2{
	width: 0;
	height: 0;
	border-width: 24px;
	border-style: solid;
	border-color: transparent transparent transparent rgba(255,255,255,.8);
	position:absolute;
}
#white_triangle3{
	width: 0;
	height: 0;
	border-width: 24px;
	border-style: solid;
	border-color: transparent transparent transparent rgba(255,255,255,.9);
	position:absolute;
}
#white_triangle4{
	width: 0;
	height: 0;
	border-width: 24px;
	border-style: solid;
	border-color: transparent transparent transparent white;
	position:absolute;
}
#square{
	position:relative;
	color:white;
	font-size:20px;
	padding-left:65px;
	top:10px;
	font-style:normal;
}
#black_triangle1{
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: rgba(0,0,0,.7);
	position:absolute;
	left:220px;
	top:0;
}
#black_triangle2{
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: rgba(0,0,0,.7);
	position:absolute;
	left:220px;
	top:0;
}
#black_triangle3{
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: rgba(0,0,0,.7);
	position:absolute;
	left:220px;
	top:0;
}
#black_triangle4{
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: rgba(0,0,0,.7);
	position:absolute;
	left:220px;
	top:0;
}
#actionBox {
	margin-top:250px;
	margin-left:550px;
    border: 1px solid #696; 
	width: 650px; 
	height: 325px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
#next1{
	width:320px;
	height:40px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
	cursor:pointer;
	color:white;
	background:rgba(0,0,0,.7);
	position:absolute;
	top:200px;
	left:150px;
}
#next2{
	width:350px;
	height:40px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
	cursor:pointer;
	color:white;
	background:rgba(0,0,0,.7);
	margin-top:65px;
	margin-left:140px;
	position:absolute;
}
#next3{
	width:350px;
	height:40px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
	cursor:pointer;
	color:white;
	background:rgba(0,0,0,.7);
	margin-top:65px;
	margin-left:140px;
	position:absolute;
}
#Box1{
	position:absolute;
}
#Box2{
	display:none;
	position:absolute;
}
#Box3{
	display:none;
	position:relative;
}
#Box4{
	display:none;
	position:absolute;
}
#icon_number{
	background:url(../img/icon_school.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	left:120px;
	top:68px;
	border-radius:50%;
}
#number{
	width:260px;
	height:30px;
	border-radius:5px;
	box-shadow:0 0 8px rgba(0,0,0,.3);
	margin-top:80px;
	margin-left:190px;
	padding-left:10px;
}
#icon_email{
	background:url(../img/email.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	top:75px;
	left:120px;
}
#email{
	border:0;
	height:40px;
	width:260px;
	margin-top:78px;
	margin-left:200px;
	padding-left:10px;
	box-shadow:0 0 8px rgba(0,0,0,.3);
	font-size:15px;
	border-radius:5px;
}
#code_right{
	background:rgba(0,0,0,.5);
	height:30px;
	border-radius:4px;
	position:absolute;
	cursor:pointer;
	padding:5px;
	right:150px;
	top:80px;
	display:inline-block;
}
#get_code{
	font-size:15px;
	color:white;
}
.time{
	color:white;
	font-size:13px;
}
#check_code{
	display:inline-block;
	border:0;
	height:40px;
	width:170px;
	margin-top:78px;
	margin-left:150px;
	padding-left:30px;
	box-shadow:0 0 8px rgba(0,0,0,.3);
	font-size:15px;
	border-radius:5px;
}
#text{
	border:0;
	height:40px;
	width:260px;
	padding-left:10px;
	border-radius:5px;
	box-shadow:0 0 8px rgba(0,0,0,.3);
	font-size:15px;
	margin-top:30px;
	margin-left:220px;
}
#change{
	border:0;
	height:40px;
	width:260px;
	padding-left:10px;
	border-radius:5px;
	box-shadow:0 0 8px rgba(0,0,0,.3);
	font-size:15px;
	margin-top:30px;
	margin-left:220px;
}
#icon_password_secret{
	background:url(../img/secret_1.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	margin-left:150px;
	margin-top:25px;
}
#icon_password_secret_2{
	background:url(../img/secret_2.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	margin-left:150px;
	margin-top:25px;
}
#icon_password_confirm{
	background:url(../img/secret_1.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	margin-left:150px;
	margin-top:25px;
}
#icon_password_confirm_2{
	background:url(../img/secret_2.png);
	background-size:100%;
	height:55px;
	width:55px;
	position:absolute;
	z-index:3;
	border-radius:50%;
	margin-left:150px;
	margin-top:25px;
}
#last{
	width:350px;
	height:40px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
	cursor:pointer;
	color:white;
	background:rgba(0,0,0,.7);
	margin-top:50px;
	margin-left:150px;
}
#warning1{
	color:red;
	font-size:15px;
	margin-left:200px;
	margin-top:15px;
}
#warning2{
	color:red;
	font-size:15px;
	margin-left:200px;
	margin-top:15px;
}
#password_warning{
	color:red;
	font-size:15px;
	margin-left:200px;
	margin-top:15px;
}
#back{
	color:black;
	text-decoration:none;
	display:block;
	margin-top:10px;
	margin-left:10px;
	width:150px;
}
#back:hover{
	color:grey;
	text-decoration:underline;
}